#cloud-config
hostname: local-vps
manage_etc_hosts: true

users:
  - default
  - name: vps
    gecos: Local VPS
    groups:
      - adm
      - sudo
    shell: /bin/bash
    lock_passwd: true
    sudo:
      - ALL=(ALL) NOPASSWD:ALL
    ssh_authorized_keys:
      - SSH_AUTHORIZED_KEY_PLACEHOLDER

ssh_pwauth: false
disable_root: true
package_update: true
packages:
  - openssh-server
  - ca-certificates
  - curl
  - vim

runcmd:
  - systemctl enable --now ssh
